In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("KR\\filtered_opm_df.csv.gz")
df.head(5)

,ticker,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009
0,A,21.3167,15.8457,18.2258,18.3964,18.0456,14.6359,12.9272,10.3508,9.9127,16.3167,16.1905,10.3968,1.0489
1,AA,7.8094,3.5214,NaN,13.5119,11.4229,0.1717,NaN,2.3123,NaN,NaN,NaN,NaN,NaN
2,AACG,NaN,NaN,NaN,NaN,15.1374,12.4022,18.7325,24.7605,27.4126,22.1181,30.6883,25.5588,12.6899
3,AADI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AAIC,20.3575,22.7822,9.0810,25.0151,42.1978,52.5537,72.2290,71.6889,77.3337,65.0669,68.2234,60.0955,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4639 entries, 0 to 4638
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ticker  4639 non-null   object
 1   2021    2566 non-null   float64
 2   2020    2400 non-null   float64
 3   2019    2649 non-null   float64
 4   2018    2600 non-null   float64
 5   2017    2463 non-null   float64
 6   2016    2327 non-null   float64
 7   2015    2277 non-null   float64
 8   2014    2330 non-null   float64
 9   2013    2288 non-null   float64
 10  2012    2236 non-null   float64
 11  2011    2199 non-null   float64
 12  2010    2084 non-null   float64
 13  2009    1768 non-null   float64
dtypes: float64(13), object(1)
memory usage: 507.5+ KB

In [ ]:
df.dropna()