In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("KR\\filtered_opm_df.csv.gz")
df.head(5)

,ticker,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009
0,A,21.3167,15.8457,18.2258,18.3964,18.0456,14.6359,12.9272,10.3508,9.9127,16.3167,16.1905,10.3968,1.0489
1,AA,7.8094,3.5214,NaN,13.5119,11.4229,0.1717,NaN,2.3123,NaN,NaN,NaN,NaN,NaN
2,AACG,NaN,NaN,NaN,NaN,15.1374,12.4022,18.7325,24.7605,27.4126,22.1181,30.6883,25.5588,12.6899
3,AADI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AAIC,20.3575,22.7822,9.0810,25.0151,42.1978,52.5537,72.2290,71.6889,77.3337,65.0669,68.2234,60.0955,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4639 entries, 0 to 4638
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ticker  4639 non-null   object
 1   2021    2566 non-null   float64
 2   2020    2400 non-null   float64
 3   2019    2649 non-null   float64
 4   2018    2600 non-null   float64
 5   2017    2463 non-null   float64
 6   2016    2327 non-null   float64
 7   2015    2277 non-null   float64
 8   2014    2330 non-null   float64
 9   2013    2288 non-null   float64
 10  2012    2236 non-null   float64
 11  2011    2199 non-null   float64
 12  2010    2084 non-null   float64
 13  2009    1768 non-null   float64
dtypes: float64(13), object(1)
memory usage: 507.5+ KB

In [8]:
df.shape

(4639, 14)

In [7]:
df.dropna(thresh=13)

,ticker,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009
0,A,21.3167,15.8457,18.2258,18.3964,18.0456,14.6359,12.9272,10.3508,9.9127,16.3167,16.1905,10.3968,1.0489
4,AAIC,20.3575,22.7822,9.0810,25.0151,42.1978,52.5537,72.2290,71.6889,77.3337,65.0669,68.2234,60.0955,NaN
7,AAME,3.3520,8.7603,0.8694,0.5745,3.9086,3.0624,4.3010,3.9147,7.9241,5.5168,4.9978,3.0246,3.9977
10,AAON,12.9562,19.7912,14.2779,12.7552,18.3191,20.7288,19.8817,19.0855,17.3834,14.5932,8.3273,13.3775,17.8382
11,AAP,7.6261,7.4202,6.9748,6.3073,6.0830,8.2319,8.4808,8.6522,10.1684,10.5933,10.7713,9.8720,8.3949
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4599,ZBRA,17.3983,14.6358,15.4292,14.4618,8.6513,2.2384,1.0137,5.3262,15.4143,16.4983,18.5092,16.5722,9.5167
4601,ZD,11.8118,11.9379,8.3985,20.2337,21.9806,27.7455,27.6606,31.0846,33.6833,43.6628,41.1771,40.6913,42.5380
4629,ZTS,31.9959,29.9026,28.7700,29.0129,28.7356,25.1228,11.4376,17.1369,15.1283,16.3745,9.3078,4.9693,NaN
4630,ZUMZ,9.7853,8.2975,6.2413,5.2577,4.7524,5.7406,8.8190,10.0564,10.2394,10.8356,7.8035,3.1244,6.0215
4634,ZWS,11.7466,14.6599,14.9008,14.3876,11.8657,9.0602,9.9356,13.3904,12.4981,12.6170,12.9679,10.6887,NaN