In [2]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv("data\\filtered_opm_df.csv.gz")
df.head(5)

,ticker,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009
0,A,21.3167,15.8457,18.2258,18.3964,18.0456,14.6359,12.9272,10.3508,9.9127,16.3167,16.1905,10.3968,1.0489
1,AA,7.8094,3.5214,NaN,13.5119,11.4229,0.1717,NaN,2.3123,NaN,NaN,NaN,NaN,NaN
2,AACG,NaN,NaN,NaN,NaN,15.1374,12.4022,18.7325,24.7605,27.4126,22.1181,30.6883,25.5588,12.6899
3,AADI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AAIC,20.3575,22.7822,9.0810,25.0151,42.1978,52.5537,72.2290,71.6889,77.3337,65.0669,68.2234,60.0955,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4639 entries, 0 to 4638
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ticker  4639 non-null   object
 1   2021    2566 non-null   float64
 2   2020    2400 non-null   float64
 3   2019    2649 non-null   float64
 4   2018    2600 non-null   float64
 5   2017    2463 non-null   float64
 6   2016    2327 non-null   float64
 7   2015    2277 non-null   float64
 8   2014    2330 non-null   float64
 9   2013    2288 non-null   float64
 10  2012    2236 non-null   float64
 11  2011    2199 non-null   float64
 12  2010    2084 non-null   float64
 13  2009    1768 non-null   float64
dtypes: float64(13), object(1)
memory usage: 507.5+ KB

In [6]:
df.shape

(4639, 14)

In [7]:
df.dropna()

,ticker,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009
0,A,21.3167,15.8457,18.2258,18.3964,18.0456,14.6359,12.9272,10.3508,9.9127,16.3167,16.1905,10.3968,1.0489
7,AAME,3.3520,8.7603,0.8694,0.5745,3.9086,3.0624,4.3010,3.9147,7.9241,5.5168,4.9978,3.0246,3.9977
10,AAON,12.9562,19.7912,14.2779,12.7552,18.3191,20.7288,19.8817,19.0855,17.3834,14.5932,8.3273,13.3775,17.8382
11,AAP,7.6261,7.4202,6.9748,6.3073,6.0830,8.2319,8.4808,8.6522,10.1684,10.5933,10.7713,9.8720,8.3949
12,AAPL,29.7824,24.1473,24.5720,26.6940,26.7604,27.8354,30.4773,28.7223,28.6695,35.2960,31.2151,28.1871,27.3628
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4585,YORW,42.4463,45.3669,46.1166,46.4872,48.7621,48.1002,48.1238,48.0980,48.9843,49.6369,48.9183,50.6781,46.9400
4593,YUM,32.4879,26.5924,34.4828,40.3657,46.9718,26.4632,22.3434,23.0302,13.7420,16.8268,14.3751,15.5955,14.6733
4599,ZBRA,17.3983,14.6358,15.4292,14.4618,8.6513,2.2384,1.0137,5.3262,15.4143,16.4983,18.5092,16.5722,9.5167
4601,ZD,11.8118,11.9379,8.3985,20.2337,21.9806,27.7455,27.6606,31.0846,33.6833,43.6628,41.1771,40.6913,42.5380
4630,ZUMZ,9.7853,8.2975,6.2413,5.2577,4.7524,5.7406,8.8190,10.0564,10.2394,10.8356,7.8035,3.1244,6.0215

In [4]:
%pdb?

Docstring:
Control the automatic calling of the pdb interactive debugger.

Call as '%pdb on', '%pdb 1', '%pdb off' or '%pdb 0'. If called without
argument it works as a toggle.

When an exception is triggered, IPython can optionally call the
interactive pdb debugger after the traceback printout. %pdb toggles
this feature on and off.

The initial state of this feature is set in your configuration
file (the option is ``InteractiveShell.pdb``).

If you want to just activate the debugger AFTER an exception has fired,
without having to type '%pdb on' and rerunning your code, you can use
the %debug magic.
File:      c:\users\drouni\scoop\apps\python\3.10.8\lib\site-packages\ipython\core\magics\execution.py

In [5]:
%xmode?

Docstring:
Switch modes for the exception handlers.

Valid modes: Plain, Context, Verbose, and Minimal.

If called without arguments, acts as a toggle.

When in verbose mode the value `--show` (and `--hide`)
will respectively show (or hide) frames with ``__tracebackhide__ =
True`` value set.
File:      c:\users\drouni\scoop\apps\python\3.10.8\lib\site-packages\ipython\core\magics\basic.py

In [6]:
%history?

Docstring:
::

  %history [-n] [-o] [-p] [-t] [-f FILENAME] [-g [PATTERN ...]]
               [-l [LIMIT]] [-u]
               [range ...]

Print input history (_i<n> variables), with most recent last.

By default, input history is printed without line numbers so it can be
directly pasted into an editor. Use -n to show them.

By default, all input history from the current session is displayed.
Ranges of history can be indicated using the syntax:

``4``
    Line 4, current session
``4-6``
    Lines 4-6, current session
``243/1-5``
    Lines 1-5, session 243
``~2/7``
    Line 7, session 2 before current
``~8/1-~6/5``
    From the first line of 8 sessions ago, to the fifth line of 6
    sessions ago.

Multiple ranges can be entered, separated by spaces

The same syntax is used by %macro, %save, %edit, %rerun

Examples
--------
::

  In [6]: %history -n 4-6
  4:a = 12
  5:print a**2
  6:%history -n 4-6

positional arguments:
  range

options:
  -n                  print line numbers for each input. This feature is only
                      available if numbered prompts are in use.
  -o                  also print outputs for each input.
  -p                  print classic '>>>' python prompts before each input.
                      This is useful for making documentation, and in
                      conjunction with -o, for producing doctest-ready output.
  -t                  print the 'translated' history, as IPython understands
                      it. IPython filters your input and converts it all into
                      valid Python source before executing it (things like
                      magics or aliases are turned into function calls, for
                      example). With this option, you'll see the native
                      history instead of the user-entered version: '%cd /'
                      will be seen as 'get_ipython().run_line_magic("cd",
                      "/")' instead of '%cd /'.
  -f FILENAME         FILENAME: instead of printing the output to the screen,
                      redirect it to the given file. The file is always
                      overwritten, though *when it can*, IPython asks for
                      confirmation first. In particular, running the command
                      'history -f FILENAME' from the IPython Notebook
                      interface will replace FILENAME even if it already
                      exists *without* confirmation.
  -g <[PATTERN ...]>  treat the arg as a glob pattern to search for in (full)
                      history. This includes the saved history (almost all
                      commands ever written). The pattern may contain '?' to
                      match one unknown character and '*' to match any number
                      of unknown characters. Use '%hist -g' to show full saved
                      history (may be very long).
  -l <[LIMIT]>        get the last n lines from all sessions. Specify n as a
                      single arg, or the default is the last 10 lines.
  -u                  when searching history using `-g`, show only unique
                      history.
File:      c:\users\drouni\scoop\apps\python\3.10.8\lib\site-packages\ipython\core\magics\history.py

In [15]:
!dust

 32M   ┌── project
 34M   │     ┌── pack-a07d73b771fc727bfff0fc06faaba4ac9aabc54d.pack
 34M   │   ┌─┴ pack
 48M   │ ┌─┴ objects
 48M   ├─┴ .git
 25M   │       ┌── _vendored
 25M   │     ┌─┴ debugpy
 29M   │     ├── sklearn
 33M   │     │ ┌── libopenblas-57db09cfe174768fb409a6bb5a530d4c.dll
 33M   │     ├─┴ scipy.libs
 38M   │     ├── statsmodels
 49M   │     ├── pandas
 34M   │     │   ┌── libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win..
 34M   │     │ ┌─┴ .libs
 58M   │     ├─┴ numpy
 91M   │     ├── scipy
480M   │   ┌─┴ site-packages
480M   │ ┌─┴ Lib
485M   ├─┴ venv
584M ┌─┴ .